*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Red Rose';
    overflow-x:hidden;
}

html,body{
    width: 100%;
    height: 100%;
    background-image: url(../images/Image\ 9.png);
   
}

#bg{
    width: 100%;
    height: 100%;
    display: flex;
}
#left{
    width: 75%;
    height: 100%;

}

#nav{

    margin-top: 30px;
    width: 100%;
    height: 17.59%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav>img{
    margin-left:70px ;
    width: 310px;
}

#link-wrap{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    width: 40%;
}
.links{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-right: 40px;
}

#redbg{
    background-color: red;
}

#link-wrap>a:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 25px;
}


#right{
    background-color:transparent;

    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#photo{
    width: 90%;
    height: 90%;
    background-image: url("../images/Mask\ Group\ 17.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120% 100%;
    border-radius: 25px 0px 0px 25px;

}

#main{
    padding:20px 0px 50px 70px;
    width: calc(100% - 40px);
    height: 59.67%;
    color: white;
    display: flex; 
    background-color: #3A3535;
}

.main-in{
    width: 50%;
    height: 100%;
    
}



#main1{
    font-size: 20px;
    line-height: 30px;
    display: flex; 
    flex-direction: column; 
    justify-content: center;

}

#main1>img{
    position: relative;
    top:-10% ;
}

#main2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
#img{
    width: 85%;
    height: 85%;
    background-image:url("../images/Image\ 14.png") ;
    background-position: center;
    background-size: 100% 100%;
}


#icons{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:10%;
    width:100%;

}


/* tablets */

@media only screen and (max-width: 767px){
    #nav {
        margin-top: 30px;
        width: 100%;
        height: 17.56%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #nav>img {
        margin-left: 70px;
        width: 5
    }

    #link-wrap {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 50px;
        width: 80%;
        margin-bottom: 20px;
    }

    .links {
        text-decoration: none;
        color: white;
        font-size: 15px;
        margin-right: 27px;
    }

}




/* smartphones */

@media only screen and (max-width: 420px){
    #bg {
        width: 100%;
        height: 100%;
    }
    #left{
        width: 100%;
        height: 100%;
    }

    .main-in {
        width: 100%;
        height: 100%;
    }
    #main {
        padding: 20px 0px 20px 26px;
        width: 100%;
        height: 67.67%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #3A3535;
        align-items: center;
    }

        #right {
            background-color: transparent;
            width: 25%;
            height: 100%;
            display: none;
            justify-content: center;
            align-items: center;
        }

        #img {
            width: 100%;
            height: 100%;
            background-image: url(../images/Image\ 14.png);
            background-position: center;
            background-size: 100% 100%;
        }
}




/* gallery */

#gallery-nav{
    display: flex;
    justify-content: center;
    padding-top: 1px;
    margin-top: 20px;
    width: 100%;
    height: 60px;
}

#container{
    width: 100%;
    display: flex;
}

#gallery-left{
    display: flex;
    justify-content: center;
    padding-top: 250px;
    width: 20%;
    height: 100%;

}

#gallery-left>img{
    position: fixed;
    transform: rotate(270deg);
    width: 350px;

}

#gallery-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    height: 100%;
}


.small-images{
    width: 25%;
    height: 170px;
    padding: 5px;
}



/* tablets- gallery*/

@media only screen and (max-width: 767px){
    
#gallery-left{
    display: flex;
    justify-content: center;
    padding-top: 250px;
    width: 15%;
    height: 100%;

}

#gallery-right{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    height: 100%;
}


#gallery-left>img{
    position: fixed;
    transform: rotate(270deg);
    width: 250px;

}


.small-images{
    width: 33%;
    height: 170px;
    padding: 5px;
}

}


/* tablets- gallery*/

@media only screen and (max-width: 420px){
       
#gallery-left{
    display: flex;
    justify-content: center;
    padding-top: 250px;
    width: 10%;
    height: 100%;

}

#gallery-right{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
}


#gallery-left>img{
    position: fixed;
    transform: rotate(270deg);
    width: 150px;

}


.small-images{
    width: 50%;
    height: 170px;
    padding: 5px;
}
}
    


/* about page */


#about-container{
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
}

#about-left{
    width: 25%;
    height: 100%;
}


#about-right{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    list-style: 2px;
    word-spacing: 5px;
}

.about-para{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    align-items: center;
    color: white;
    margin-top: 20px;
    width: 100%;
    height: 250px;
}

/* responsive */

@media only screen and (max-width: 767px){
    #gallery-nav{
        overflow: hidden;
    }
    #about-container{
        width: 100%;
        height: 150%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #about-left{
        overflow: hidden;
        width: 100%;
        height: 100%;
    }


    #about-right{
        overflow: hidden;
        width: 100%;
        /* height: 75%; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-para{
        overflow: hidden;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 20px;
        align-items: center;
        color: white;
        margin-top: 20px;
        width: 100%;
        height: 250px;
    }
} 


/* about page-ended */


/* contact-started */
#contact-container{
    width: 100%;
    height: calc(100% - 80px);
    display: flex;

}

#container-left{
    width: 35%;
    height: 100%;
}

#contact-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 80px;
    padding-top: 200px;
    width: 65%;
    height: 100%;
    

}

#reright{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    width: 100%;
    height: 100%;
    text-transform: uppercase;

}

.contact-content{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}


/* responsive */
@media only screen and (max-width: 767px){
    #contact-container{
        overflow: hidden;
        width: 100%;
        height: calc(100% - 80px);
        display: flex;
        flex-direction: column;
        border: 1px solid red;
        overflow: hidden;
    
    }

    #container-left{
        overflow-x: hidden;
        overflow-y: hidden;
        width: 100%;
        height: 30%;
        border: 1px solid green;
    }
    
    #contact-right{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
        padding-top: 20px;
        width: 100%;
        height: 60%;
        border: 10px solid yellowgreen;
        
    
    }

    
    .contact-content{
        width: 60%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        border: 5px solid gold;
    }
}




