*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Red Rose';
    overflow:hidden;
    
}

html,body{
    width: 100%;
    height: 100%;
    background-image: url(../images/Image\ 9.png);
   
}

#bg{
    width: 100%;
    height: 100%;
    
}

#nav {
    
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav>img {
    margin-left: 20px;
    width: 332px;
}

#links {
    margin-right: 0px;
    font-size: 30px;
}
#links #home {
    text-align: center;
    margin-top: 0%;
    width: 50px;
    height: 20px;
    padding-top: 3px;
    background-color: red;
}



#links .links {
    display: inline-block;
    
    font-weight: 800;
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
#content {
    width: 100%;
    height: 80%;
}



#right {
    display: flex;
    width: 100%;
    height: 70%;
}
#wright {
    padding: 20px 40px;
    width: 55%;
    height: 100%;
    background-color: #3A3535;
    position: relative;
    margin-left: 20px;
}


#wright #textinr {
    color: white;
    font-weight: 500;
    padding: 10px 5px;
    line-height: 30px;
    font-size: 17px;
    width: 100%;
}
#box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 79px);
    position: relative;
}



#mayankwhite {
    padding: 5px;
}

#icons {
    display: flex;
    z-index: 550;
    justify-content: space-around;
}



#wright #btn {
    margin-left: 80px;
    width: 90px;
    height: 22px;
    border: none;
    color: black;
    background-color: #656B9C;
    border-radius: 14px;
    font-size: 10px;
}

#wright2 {
    padding: 20px 10px;
    width: 50%;
    height: 100%;
    background-color: #3A3535;
    
}
#left {
    width: 100%;
    height: 30%;
    background-image: url(../images/Image\ 19.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


#left #con {
    display: flex;
    width: 270px;
    height: 100px;
    position: absolute;
    top: 74%;
    left: 27px;
    z-index: 123;
    justify-content: center;
    align-items: center;
}

#left #con #hr3{
    width: 5px;
    height: 50px;
    background: red;
    margin-right: 17px;
}

#left #con #name{
    font-size: 25px;
    font-weight: 600;
    color: white;
}


