*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Red Rose';
    overflow: hidden;
}

html,body{
    width: 100%;
    height: 100%;
    background-image: url(../images/Image\ 9.png);
   
}

#bg{
    width: 100%;
    height: 100%;
    display: flex;
}
#left{
    width: 75%;
    height: 100%;

}

#nav{

    margin-top: 30px;
    width: 100%;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav>img{
    margin-left:70px ;
    width: 310px;
}

#link-wrap{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    width: 40%;
}
.links{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-right: 40px;
}

#redbg{
    background-color: red;
}

#link-wrap>a:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 25px;
}


#right{
    background-color:transparent;

    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#photo{
    width: 90%;
    height: 90%;
    background-image: url("../images/Mask\ Group\ 17.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120% 100%;
    border-radius: 25px 0px 0px 25px;

}

#main{
    padding:20px 0px 50px 70px;
    width: calc(100% - 40px);
    height: 450px;
    color: white;
    display: flex; 
    background-color: #3A3535;
}

.main-in{
    width: 50%;
    height: 100%;
    
}



#main1{
    font-size: 20px;
    line-height: 30px;
    display: flex; 
    flex-direction: column; 
    justify-content: center;

}

#main1>img{
    margin-top:-10px ;
}

#main2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
#img{
    width: 85%;
    height: 85%;
    background-image:url("../images/Image\ 14.png") ;
    background-position: center;
    background-size: 100% 100%;
}


#icons{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:50px;
    width:100%;

}